<!-- <div class="card-container">
    <img class="doctor-card-image" src="./../../assets/Doctor/{{ doctor.name }}.jpg" alt="Card Image">
    <div class="doctor-card-body">
      <h3 class="doctor-card-title">{{ doctor.name }}</h3>
      <p class="doctor-card-description">Spec: {{ doctor.specialization }}</p>
      <p class="doctor-card-price">Experience: {{ doctor.experience }}</p>
      <p>Email: {{ doctor.email }}</p>
      <p>User Name: {{ doctor.userName }}</p>
      <p>Gender: {{ doctor.gender }}</p>
      <p>Role: {{ doctor.role }}</p>
      <p>Specialization: {{ doctor.specialization }}</p>
    </div>
  </div> -->

  <div class="table-container">
    <table class="custom-table">
      <tr>
        <th colspan="2">Profile</th>
      </tr>
      <tr>
        <td><img src="./../../assets/Doctor/{{ doctor.name }}.jpg" alt="Profile Pic" class="profile-pic"></td>
        <td><h2>Hospital Name</h2></td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ doctor.name }}</td>
      </tr>
      <tr>
        <td>Specialization </td>
        <td>{{ doctor.specialization }}</td>
      </tr>
      <tr>
        <td>Experience</td>
        <td>{{ doctor.experiance }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ doctor.email }}</td>
      </tr>
      <tr>
        <td>User Name</td>
        <td>{{ doctor.userName }}</td>
      </tr>
      
    </table>
  </div>